<div id="contacts" class="contacts">
  <h2>Contacts</h2>
  <div class="item">
    <div class="text">Twitter</div>
    <a href="https://twitter.com/BadRabbitNL" class="link">twitter.com/BadRabbitNL</a>
  </div>
  <div class="item">
    <div class="text">Facebook</div>
    <a href="https://www.facebook.com/bad.rabbit.official" class="link">facebook.com/bad.rabbit.official</a>
  </div>
  <div class="item">
    <div class="text">Instagram</div>
    <a href="https://www.instagram.com/bad.rabbit.official/" class="link">instagram.com/bad.rabbit.official</a>
  </div>
  <div class="item">
    <div class="text">Email</div>
    <a href="mailto:bad.rabbit.cosmetic@gmail.com" class="link">bad.rabbit.cosmetic@gmail.com</a>
  </div>
  <div class="item">
    <div class="text">Phone</div>
    <a href="tel:+380686906833" class="link">+380686906833</a>
  </div>
</div>
