<header>
  <div class="container" data-link-target="#/">
    <div class="header__wrap">
      <nav class="menu header__menu" style="">
        <ul>
          <li><a [routerLink]="['']" (click)="onMenuItemClick()">Home</a></li>
          <li><a [routerLink]="['about']" (click)="onMenuItemClick()">About us</a></li>
          <li><a [routerLink]="['products']" (click)="onMenuItemClick()">Products</a></li>
          <li><a [routerLink]="['where']" (click)="onMenuItemClick()">Where to buy?</a></li>
          <li><a [routerLink]="['contacts']" (click)="onMenuItemClick()">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
