@media screen and (min-width: 1280px) {
  div.page-section {
    margin: 2rem 0 8rem 0;
  }
}

@media screen and (max-width: 1280px) {
  div.page-section {
    margin: 2rem 0 6rem 0;
  }
}

@media screen and (max-width: 860px) {
  div.page-section {
    margin: 2rem 0 4rem 0;
  }
}

div.page-section > h1 {
  margin-bottom: 2rem;
}
